
/* List view */
.list-view .content {
  display: flex;
}

.list-view .contact-grid {
  flex: 2;
}

.list-view .contact-form {
  flex: 1;
  padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
  .list-view.editing .toolbar,
  .list-view.editing .contact-grid {
    display: none;
  }
}

/* Main layout */
a[highlight] {
  font-weight: bold;
  text-decoration: underline;
}

/*.header {*/
/*  padding: 0 var(--lumo-space-m);*/
/*}*/

/*.header h1.logo {*/
/*  font-size: 1em;*/
/*  margin: var(--lumo-space-m);*/
/*}*/

/* Dashboard view */
.dashboard-view .contact-stats {
  font-size: 4em;
  margin: 1em 0;
}

.vaddin-board-row {
  padding: var(--lumo-space-m);
  margin: var(--lumo-space-m );
}

.background_dice {
  background-image: url("background/dice.png");
  background-repeat: repeat;
}

.background_cloud {background-image: url("background/cloud.png");}
.background_dot {background-image: url("background/dot.png");}
.background_matrix {background-image: url("background/matrix.png");}
.background_rain {background-image: url("background/rain.png");}
.background_raindrop {background-image: url("background/raindrop.png");}
.background_zigzag {background-image: url("background/zigzag.png");}


